absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
alabaster==0.7.13
anyio==4.5.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==5.0.1
attrs==24.2.0
babel==2.16.0
backcall==0.2.0
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
bottle==0.13.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
cmake==3.31.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
conda-env==2.4.2
conda-package-handling==2.4.0
conda_package_streaming==0.11.0
ConfigArgParse==1.7
contourpy==1.1.1
cryptography==43.0.3
cycler==0.12.1
Cython==3.0.11
cytoolz==1.0.0
dask==2023.5.0
debugpy==1.8.9
decorator==5.1.1
defusedxml==0.7.1
distributed==2023.5.0
docopt==0.6.2
docutils==0.20.1
dpcpp-cpp-rt==2025.0.2
entrypoints==0.4
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.20.0
filelock==3.16.1
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.55.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
glib==1.0.0
google-auth==2.36.0
google-auth-oauthlib==1.0.0
grpcio==1.68.0
h11==0.14.0
httpcore==1.0.7
httpx==0.27.2
humanfriendly==10.0
idna==2.10
imagesize==1.4.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.0.0
intel-cmplr-lib-rt==2025.0.2
intel-cmplr-lib-ur==2025.0.2
intel-cmplr-lic-rt==2025.0.2
intel-opencl-rt==2025.0.2
intel-openmp==2025.0.2
intel-sycl-rt==2025.0.2
ipykernel==6.29.5
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.8.0
Jinja2==3.1.4
joblib==1.4.2
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keyring==25.5.0
kiwisolver==1.4.7
libtool==1.1.0
lit==18.1.8
llvmlite==0.41.1
locket==1.0.0
lxml==5.3.0
Markdown==3.7
Markdown-Editor==1.0.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mkl==2025.0.1
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multipledispatch==1.0.0
nbclassic==1.2.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
nh3==0.2.18
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.58.1
numexpr==2.8.6
numpy==1.24.4
numpydoc==1.7.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
onnx==1.17.0
onnxruntime==1.19.2
OpenNMT-py==1.2.0
overrides==7.7.0
packaging==24.2
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.1
path==17.0.0
path.py==12.5.0
pathlib2==2.3.7.post1
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pkginfo==1.10.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
pluggy==1.5.0
portalocker==3.0.0
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.28.3
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
Py-Boost==0.5.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
Pygments==2.18.0
pymdown-extensions==7.1
pyonmttok==1.37.1
pyparsing==3.1.4
pyrsistent==0.20.0
PySocks==1.7.1
pytest==8.3.3
pytest-openfiles==0.6.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
rdkit==2022.3.3
rdkit-pypi==2022.9.5
readline==6.2.4.1
readme_renderer==43.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.1
rsa==4.9
sacrebleu==2.4.3
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
SecretStorage==3.3.3
Send2Trash==1.8.3
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
Sphinx==7.1.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
stack-data==0.6.3
sympy==1.13.3
tabulate==0.9.0
tbb==2022.0.0
tblib==3.0.0
tcmlib==1.2.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.4.0
tomli==2.1.0
toolz==1.0.0
torch==2.0.1
torch-geometric==2.6.1
torch_cluster==1.6.3
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
torchaudio==2.0.2
torchtext==0.4.0
torchvision==0.15.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
treelite==3.9.1
treelite-runtime==3.9.1
triton==2.0.0
twine==5.1.1
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.2
ujson==5.10.0
umf==0.9.1
uri-template==1.3.0
urllib3==1.26.20
waitress==3.0.0
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.6
widgetsnbextension==4.0.13
yarl==1.15.2
zict==3.0.0
zipp==3.20.2
zstandard==0.23.0
